@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  scroll-behavior: smooth;
}

@keyframes grow {
  from {
    display: 0;

    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(100%);
  }
}

/*
text styles
*/

.default_text {
  font-size: small;
  color: white;
}
/*
Header
*/
.header_link {
  letter-spacing: 0.1em;
}
.header_text {
  font-size: 15px;
  font-weight: 700;
}

/*
Main
*/
.hero-title {
  font-size: clamp(2.5rem, 10vw + 0.5rem, 2.5rem);
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
}
.play_font {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text_scale {
  font-size: 1vw;
}

.fill {
  flex-grow: 1;
}

.section_title {
  font-size: clamp(1.2rem, 10vw + 0.5rem, 1.2rem);
  line-height: 1;
  letter-spacing: 0.1em;
  /* font-weight: 900; */
  color: white;
  text-transform: uppercase;
}

.card {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.algo_button {
  display: flex;
  height: 2em;
  width: 90px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
}

.algo_button:hover {
  transform: translateY(-2px);
}

.cover_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: uppercase;
  letter-spacing: 1.2em;
}

.vertical_reverse {
  letter-spacing: 0.4em;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-transform: uppercase;
  transform: rotate(180deg);
}
.controll > svg > path {
  stroke: white;
}

.controll > svg {
  width: 100%;
  transform: rotate(90deg);
}

.svg_bright > svg > path {
  stroke: white;
}
.fade_in {
  animation: fadeIn 0.5s;
}

.hover_underline {
  position: relative;
}

.hover_underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover_underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover_underline_vertical {
  position: relative;
}

.hover_underline_vertical:after {
  content: "";
  position: absolute;
  width: 2px;
  transform: scaleY(0);
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover_underline_vertical:hover::after {
  transform: scaleY(1);
  transform-origin: bottom left;
}

.portfolio_cards {
  width: 90%;
  height: 50%;
  border-radius: 4px;

  display: flex;
  gap: 5px;
  padding: 0.4em;
}

.portfolio_cards > div {
  height: 100%;
  flex: 1;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.5s;
  border: 1px solid #ede9ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio_cards > div:hover {
  flex: 4;
  background-color: white;
}

.portfolio_cards > div span {
  min-width: 14em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.portfolio_cards > div:hover span {
  color: rgb(27, 27, 47);
  transform: rotate(0);
}

/*
Skills
*/

.skill_svg {
  background-color: white;
  color: black;
}

.skill {
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.3em 1em;
  border: 1px solid #fffafc;
  border-radius: 2px;
  position: relative;
  color: #fff4f9;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.skill:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  color: rgb(5, 4, 4);
  background-color: #fffdfd;
  border: 3px solid rgb(0, 0, 0);

  z-index: -1;
}

.skill:hover,
.skill:focus > svg > path {
  color: black;
}

.skill:hover > .not_visible {
  background-color: white;
  color: white;
}

.skill:hover:before,
.skill:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.link_hover_bg:hover {
  transition: 0.5s all ease;
  background-color: white;
  border-bottom: red;
}

.link_hover_bg:hover > svg {
  color: #212121;
}

/*
 Projects.
 
*/

.project_card {
  transition: all 0.2s linear;
  width: 45%;
  height: 80%;
  min-width: 550px;
}

/* .project_card:hover {
  background-color: rgb(255, 255, 255);
} */

/* .project_card:hover .project_card__content h1 {
  color: rgb(0, 0, 0);
}

.project_card :hover .content {
  transform: rotateY(0.5turn);
} */

/* .project_card_content {
  transform: rotateY(1turn);
} */

/*
queries
*/
@media screen and (max-width: 1600px) {
  .project_card {
    width: 100%;
    min-width: 150px;
  }
}

/*
test
*/
